#main{
    border:1px solid #53D3D1;
    background-color:#53D3D1 ;
    margin: 0px;
}

.mid{
    text-align: center;
}


.eachMember
{
    
    width: 320px;
    /* padding: 10px 15px; */
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    background-color: #FBECEB;
}

.memberDiv
{
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.textt
{
    font-size: larger;
    margin: 2px;
    
}

.dataDiv
{
    padding: 2px;
    margin-top: 15px;
}

.imgDiv img
{
    transition: transform 0.5s;
}

.imgDiv img:hover
{
    transform: scale(1.1);
}